

<main>
    <div>
        <h2>@ViewBag.Education</h2>
    </div>
    <div>
        <ol>
            <li>
                BSC: <br>
                <ul>
                    <li>
                        Semester : 10th
                    </li>
                    <li>
                        University: American International University-Bangladesh
                    </li>
                </ul>
            </li>

            <li>
                HSC: <br>
                <ul>
                    <li>
                        Year : 2019
                    </li>
                    <li>
                        Instritute: Dhaka Imperial College
                    </li>
                </ul>
            </li>

            <li>
                SSC: <br>
                <ul>
                    <li>
                        Year : 2017
                    </li>
                    <li>
                        Instritute: Motijheel Government Boys' High School
                    </li>
                </ul>
            </li>

        </ol>
    </div>
</main>



