
@{
    ViewBag.Title = "Projects";
}

<main>

    <div>
        <h2>Projects</h2>
    </div>

    <div>

        <table class="table table-bordered table-hover table-striped table-dark">
            <tr>
                <th>Project Type</th>
                <th>Project Name</th>
                <th>Project Link</th>
            </tr>

            <tr>
                <td rowspan="5">
                    <h6><b>Java</b></h6>
                </td>
                <td>
                    Fletch-Flee
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                @*<td>
                Java
            </td>*@
                <td>
                    Hospital Management System
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                @*<td>
                Java
            </td>*@
                <td>
                    Password Keeper Tool
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                @*<td>
                Java
            </td>*@
                <td>
                    Secret Box : Message Encyption-Decryption Tool
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                @*<td>
                Java
            </td>*@
                <td>
                    Temperature Convertion Tool
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                <td rowspan="3">
                    <h6><b>C#</b></h6>
                </td>
                <td>
                    Voyager - A Tour Managemnet System
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                @*<td>
                C#
            </td>*@
                <td>
                    Dark Chember : One Stop Password Manager
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                @*<td>
                C#
            </td>*@
                <td>
                    Java Skilliod : A java Learning Tool
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                <td>
                    <h6><b>C#</b></h6>
                </td>
                <td>
                    Orphanage Management System
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                <td rowspan="6">
                    <h6><b>Android</b></h6>
                </td>
                <td>
                    Anatkhshari - the Game
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                @*<td>
                Android
            </td>*@
                <td>
                    Crypto Message
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                @*<td>
                Android
            </td>*@
                <td>
                    Recipe Book
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                @*<td>
                Android
            </td>*@
                <td>
                    Sudipta - My Portfolio App
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                @*<td>
                Android
            </td>*@
                <td>
                    AIUBians App
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                @*<td>
                Android
            </td>*@
                <td>
                    Levant Affiliates App
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                <td rowspan="5">
                    <h6><b>Machine Learning</b></h6>
                </td>
                <td>
                    Anatkhshari - the Game
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                @*<td>
                Machine Learning
            </td>*@
                <td>
                    Next World Champion Prediction
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                @*<td>
                Machine Learning
            </td>*@
                <td>
                    Baby Delivery Prediction Data Pre-processing
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                @*<td>
                Machine Learning
            </td>*@
                <td>
                    Customer Segmentation By K-Means
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                @*<td>
                Machine Learning
            </td>*@
                <td>
                    Dengue and Climate Change using K-Means Algorithm
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>

            <tr>
                <td>
                    <h6><b>Latex</b></h6>
                </td>
                <td>
                    Java Simplica Book
                </td>
                <td>
                    <a href="www.github.com/yaarian-om">Link</a>
                </td>
            </tr>


        </table>

    </div>

</main>

