

<main>
    <div>
        <h2>@ViewBag.Ref</h2>
    </div>

    <div>
        Name : Prof. Dr. Dip Nandi <br />
        Professor, Assosiate Dean <br />
        Faculty of Science & Technology (FST) <br />
        American International University Bangladesh <br />
        <br />
        <br />
    </div>

    <div>
        Name : Prof. Dr. Md Asraf Ali <br />
        Professor, Faculty <br />
        Faculty of Science & Technology (FST) <br />
        American International University Bangladesh <br />
        <br />
        <br />
    </div>
    <div>
        Name : Tanvir Ahmed <br />
        Lecturer, Faculty <br />
        Faculty of Science & Technology (FST) <br />
        American International University Bangladesh <br />
        <br />
        <br />
    </div>

</main>

