<main>

    <div>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                    <a href="/Company/Services">Services</a>
                    <a href="/Company/Teams">Teams & Members</a>
                    <a href="/Company/Contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>

    <div>
        <h2>Contact</h2>
    </div>

    <div>
        <form action="/" method="post">

            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" /> <br /><br />

            <label for="Email">Email:</label>
            <input type="email" id="Email" name="Email" /> <br /> <br />

            <label for="Phone">Phone:</label>
            <input type="number" id="Phone" name="Phone" /> <br /> <br />

            <label for="Query">Query:</label>
            @*<input type="text" id="Query" name="Name" />*@
            <textarea id="Query" name="Query" placeholder="Enter your Query">
                
            </textarea>
            <br /> <br />

        </form>
    </div>


</main>