



<main>

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
                <a href="/Company/Services">Services</a>
                <a href="/Company/Teams">Teams & Members</a>
                <a href="/Company/Contact">Contact</a>
            </li>
        </ul>
    </nav>


    <div>
        <h1>
            WELCOME TO TOTO COMPANY.
        </h1>
    </div>

    <div>

    </div>

</main>